<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="stub portal">
    <title>Cart</title>
    <style type="text/css">
      div#root div[data-reactroot]
        {height: 100% !important; width: 100% !important; }
    </style>
  </head>
  <!-- <body style="overflow:hidden;margin:0;"> -->
  <body style="margin:0;">
    <div id="root"></div>
    <script>window.$NODE_ENV = <%= htmlWebpackPlugin.options.node_env %></script>
    <script language="javascript">
        function autoResizeDiv() {
            document.getElementById('root').style.height = window.innerHeight +'px';
        }
        window.onresize = autoResizeDiv;
        autoResizeDiv();
    </script>
  </body>
</html>
